:root {
  --bg-color: black;
  --ball-size: 50px;
  --ball-color: red;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

#ball {
  width: var(--ball-size);
  height: var(--ball-size);
  border-radius: 100%;
  background-color: var(--ball-color);
  position: absolute;
  bottom: 0;
  left: 500px;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}

button {
  position: absolute;
  top: 10px;
  left: 50vw;
  transform: translateX(-50%);
}